<h1>Welcome to MobileStore!</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2> About MobileStore</h2>
            <p>

                Welcome to MobileStore – the Middle East’s online marketplace.

                We connect people and products – opening up a world of possibility. From bracelets and backpacks to tablets and toy cars – we give you access to everything you need and want. Our range is unparalleled, and our prices unbeatable.

                Driven by smart technology, everything we do is designed to put the power directly in your hands – giving you the freedom to shop however, whenever and wherever you like.

                We’re trusted by millions, because we don’t just deliver to your doorstep, we were born here. With MobileStore you’ll always be getting a good deal – with exceptional service that makes your shopping experience as easy and seamless as possible.

                This is MobileStore – the power is in your hands.
            </p>
        </div>
    </div>
</div>
