@model ProductWishlistViewModel

@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@inject SignInManager<IdentityUser> SignInManager

<li class="nav-item">
    @if (Model.ProductWishlist.ProductWishlistItems.Count > 0)
    {

        <a asp-controller="ProductWishlist" style="color:whitesmoke;text-decoration:none">
            <i class="fas fa-heart"></i>
            <span id="cart-status">
                @Model.ProductWishlist.ProductWishlistItems.Count
            </span>
        </a>

    }
</li>